.eventListItem {
  height: 90px;
  padding: 26px 20px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.eventListItem:hover {
  filter: brightness(95%);
}

.copy {
  padding-left: 13px;
  flex-grow: 1;
  min-width: 0;
}

.primaryCopy {
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.primaryCopy:hover {
  white-space: normal;
  overflow: visible;
}

.secondaryCopy {
  font-size: 12px;
  font-style: italic;
}

.heavy {
  font-weight: 700;
}
