@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

body {
  min-height: 100vh;
  background: linear-gradient(#f4f0f3, #eaf3f7);
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
